version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: monthly
  labels:
    - "npm"
    - "dependencies"
- package-ecosystem: github-actions
  directory: "/"
  schedule:
    interval: monthly
