name: 'Check spelling'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: streetsidesoftware/cspell-action@3294df585d3d639e30f3bc019cb11940b9866e95 # v8.0.0
        with:
          incremental_files_only: true
          inline: warning
          strict: false
          suggestions: true
