name: 'Check spelling'
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches-ignore:
      - "dependabot/**"

permissions:
  contents: read

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - uses: streetsidesoftware/cspell-action@3294df585d3d639e30f3bc019cb11940b9866e95 # v8.0.0
        with:
          incremental_files_only: true
          inline: warning
          strict: false
          suggestions: true
